@import "virable/main_var";
@import "mixins/main_mixins";
@import "libre/media";
@import "libre/main_libre";

.footer {
  padding: 30px 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include _lg {
    padding: 0 0 50px 0;
  }
  &__wrap {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color: $color-second;
    max-width: $size-main;
    @include _lg {
      flex-direction: column;
      padding: 0 50px;
    }
  }
  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include _lg {
      order: 2;
      top: -$size-border_1;
    }
    a {
      color: $color-second;
    }
    .form-border-ok {
      border-bottom: 1px solid #ffffff;
    }
    .form-border-nok {
      border-bottom: 1px solid $color-red;
    }
    form {
      width: 440px;
      height: 100%;
      padding: 50px 50px 50px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      @include _lg {
        padding: 50px 0;
        width: 100%;
      }
    }
    &--input {
      width: 100%;
      padding: 0 5%;
      background: none;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      input {
        width: 100%;
        color: $color-second;
        height: 40px;
        &::placeholder {
          color: $color-second;
        }
      }
    }
    &--send {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 30px;
      input {
        width: 100%;
        padding: 12px 0;
        cursor: pointer;
        background-color: $color-button-2;
        font-size: 17px;
        font-weight: 700;
        @include _lg {
          margin-top: 50px;
        }
      }
    }
    &__check {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      .check {
        background-color: $color-check-bg;
      }
      .no-check {
        background-color: $color-nocheck-bg;
      }
      span {
        cursor: pointer;
      }
      &--icon {
        padding-left: 20px;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          padding: 4px;
          i {
            color: #ffffff;
            font-size: 13px;
          }
        }
      }
    }
    &__list {
      &--wrap {
        display: flex;
        align-items: center;
        cursor: pointer;
        outline: none;
      }
      &--arrow {
        margin-top: 10px;
        margin-right: 7px;
        border: 8px solid transparent;
        border-top: 10px solid $color-main;
      }
      &--text {
        position: relative;
        img {
          position: absolute;
          height: 80%;
          top: 14%;
          margin-left: 5px;
          opacity: 0.7;
        }
        p {
          outline: none;
          user-select: none;
        }
      }
    }
    &__listAll {
      position: relative;
      width: 100%;
      height: 1px;
      padding: 0;
      top: -20px;
      &--closed {
        display: none;
      }
      &--wrap {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $color-list-bg;
        border-radius: 0 0 5px 5px;
        border: 1px solid #ffffff;
        border-top: none;
      }
      ul {
        position: relative;
        li {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          height: 40px;
          left: 0;
          padding-left: 40px;
          cursor: pointer;
          border-bottom: 1px solid #ffffff;
          &:last-child {
            border: none;
          }
          img {
            position: absolute;
            height: 42%;
            top: 30%;
            left: 72px;
            margin-left: 5px;
          }
          span {
            display: block;
            position: relative;
            left: 35px;
          }
        }
      }
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    @include _lg {
      align-items: center;
      order: 1;
    }
    &__wrap {
      width: 100%;
      &--el2 {
        width: 525px;
        text-align: right;
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        left: 5px;
        @include _lg {
          width: 100%;
          position: relative;
          top: 20px;
        }
        &> span {
          display: block;
          position: relative;
          h3 {
            font-size: $size-title_1;
            font-weight: 600;
            line-height: 55px;
          }
        }
      }
    }
  }
  &__tell {
    display: none;
    @include _lg {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 15px 0;
      order: 3;
      position: relative;
      top: -$size-border_1;
    }
    a {
      font-size: 34px;
      color: $color-red;
    }
    p {
      font-size: 30px;
      color: $color-second;
    }
  }
}

.cookie {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $color-second;
  &__wrap {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    max-width: $size-main;
    margin: 0 auto;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    span {
      background-color: $color-second;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 200px;
      position: absolute;
      top: -39px;
      right: 45px;
      height: 40px;
      cursor: pointer;
      padding-right: 15px;
      font-weight: 600;
      @include _lg {
        right: 50px;
      }
      i {
        margin-left: 10px;
      }
    }
  }
  &__open {
    display: none;
  }
  &__close {
    i {
      transform: rotate(45deg);
    }
  }
  &__mess {
    background-color: $color-second;
    p {
      padding: 25px 0;
      line-height: 26px;
    }
  }
}

.footer__mask {
  width: 100%;
}