@import "virable/main_var";
@import "mixins/main_mixins";
@import "libre/reset";
//@import "fonts";
@import "libre/media";
@import "libre/main_libre";

/* main */
body {
  font-family: $font-main;
  font-size: 16px;
}
#main {
  overflow: hidden;
  margin: 0 auto;
}
p {
  color: $color-main;
}

/* buttons */

.btn-a-1 {
  width: 440px;
  padding: 12px 0;
  cursor: pointer;
  background-color: $color-button;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  color: $color-second;
  font-size: 25px;
  font-weight: 600;
  @include _md {
    width: 100%;
  }
}

/* blocks */
@import "upper";
@import "why-us";
@import "stages";
@import "faq";
@import "people";
@import "footer";
@import "finish";