// colors
$color-main: #3a4e70;
$color-second: #ffffff;
$color-button: #c39c5b;
$color-button-2: #c9b178;
$color-list-bg: rgba(151, 151, 153, 0.9);
$color-check-bg: #1b8ef1;
$color-nocheck-bg: #444444;
$color-red: #ff062f;

// size
$size-main: 1151px;
$size-title_1: 55px;
$size-title_1_2: 27px;
$size-title_2: 25px;
$size-border_1: 6px;

// fonts

$font-main: 'Assistant', sans-serif;